@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&family=Sulphur+Point:wght@400;700&display=swap');
/* Header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
}

body{
    background: rgba(35, 91, 88, 0.16);
    /*background-color: #ededed;*/
    color: black;
    overflow-x: hidden;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;        /*20px how big the nav balk is and 10% is how far is stands from the side*/
    background-color: rgba(237, 237, 237, 0.91);
    display: flex;          /*set the home projects skills about me under Yente.*/
    justify-content: space-between ;    /*zet yente en rest uitelkaar en zet het op even veel aftand van zijkant als yente dus 10%*/
    align-items: center;
    z-index: 9;
    padding-right: 3%;
}
.eng-but{
    margin-right: -155px;
}
.but{
    text-decoration: none;
    color: black;
}
.slesh{
    margin-right: -155px;
}
.logo{
    font-size: 35px;
    color: black;     /*makes it white*/
    text-decoration: none;   /* takes away the underscore that you have with a link _____ */
    font-weight: 700;
    z-index: 100;

}

.navbar a{
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;          /* zet home projects skills... uitelkaar*/
    transition: .3s;        /*als je erover heen bent gegaan blijft het nog drie seconden die kleur*/
    padding:0px 8%;

}
.navbar a:nth-child(1){
    border-bottom:2px solid rgba(35, 91, 88, 0.4);
    padding:9px 40px ;
}
.navbar a:nth-child(2){
    border-bottom:2px solid rgba(35, 91, 88, 0.8);
    padding:9px 32px ;
}
.navbar a:nth-child(3){
    border-bottom:2px solid rgba(35, 91, 88, 0.3);
    padding:9px 40px ;
}
.navbar a:nth-child(4){
    border-bottom:2px solid rgba(35, 91, 88, 0.1);
    padding:9px 32px ;
}

.navbar a:hover,      /* als je er met muis overheen gaat krijg je die kleur */
.navbar a.active{    /*geef class active en dan dezen blijft aan staan op die kleur */
    color: rgba(35, 91, 88, 0.56);
}

#round{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 7.5%;
    background-color: transparent;
    display: flex;
    z-index: 50;
    align-items: flex-end;
    justify-content: flex-end;
}
.dot{
    background-color: rgba(187, 175, 157, 0.46);
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    z-index: 50;
}









/* Slider*/
body {
    margin: 0;
    background: #EEE;
    user-select: none;
    font-family: sans-serif;
}


#slider {
    position: relative;
    width: 33vw;
    height: 40vh;
    margin: 168px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}


input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}

#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    object-fit: cover  ;
}
/*#slide{*/
/*    height: 200px;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    transition: all 0.3s ease-in-out;*/
/*    width: 330px;*/
/*    z-index: 0;*/
/*    border-radius: 15px;*/
/*    background-size: contain;*/
/*}*/

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);


    /*box-shadow: -2px 5px 33px 6px rgba(0, 0, 0,0.35);*/
    /*!*height: 300px;*!*/
    /*!*width: 430px;*!*/
    opacity: 1;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*z-index: 2;*/

}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);

    /*left: 30%;*/
    /*transform: translateX(-50%);*/
    /*!*height: 250px;*!*/
    /*!*width: 380px;*!*/
    opacity: 0.9;
    /*z-index: 1;*/
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);

    /*left: 15%;*/
    opacity: .6;
    /*transform:translateX(-50%);*/
    /*!*height: 200px;*!*/
    /*!*width: 330px;*!*/
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);

    /*left: 70%;*/
    /*transform: translateX(-50%);*/
    /*!*height: 250px;*!*/
    /*!*width: 380px;*!*/
    opacity: 0.9;
    /*z-index: 1;*/
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-40%, 0, -250px);

    /*left: 85%;*/
    opacity: .6;
    /*transform: translateX(-50%);*/
    /*!*height: 200px;*!*/
    /*!*width: 330px;*!*/
}
.sliderbutton{
    display: none;
    width: 400px;
    height: 250px;
    background-color: transparent;
    z-index: 10;
    border: 0;
}
#s1:checked ~ #slide1 .sliderbutton,
#s2:checked ~ #slide2 .sliderbutton,
#s3:checked ~ #slide3 .sliderbutton,
#s4:checked ~ #slide4 .sliderbutton,
#s5:checked ~ #slide5 .sliderbutton {
    display: block;
}
#infoProject2{
    display: none;
}

#infoProject3{
    display: none;
}
#infoProject4{
    display: none;
}

#infoProject5{
    display: none;
}










/* allProjects*/
.info{
    /*background:linear-gradient(180deg, rgba(96, 118, 129, 0.3) 0%, rgba(96, 118, 129, 0.6) 3.96%, rgba(96, 118, 129, 0.95) 15%, #607681 100%);*/
    /*display: flex;*/
    /*justify-content: center;*/
}
.Pro_Header_con{
    position: relative;
}
.Laptop{
    width: 1350px;
    height: 723px;
}
.Project_Img {
    position: absolute;
    left: 158px;
    top: 67px;
    width: 1033px;
    height: 557px;
    border-radius: 4px;
    object-fit: cover;
}





/* Project 1*/
#infoProject1{
    display: grid;
    width: 70vw;
    height: 100vh;
    grid-template-rows: 5vh 75vh 30vh 5vh;
    grid-auto-columns:5vw 70vw 5vw;

    grid-template-areas:
            /*". img . part1 " ".l"*/
            ". . .""img img img" ". . ." ". part1 .";
}
.headimg{
    grid-area: img;
    width: 70vw;
    height: 34vw;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.08);
}

.opdr-vak{
    grid-area: part1;
    display: flex;
}
.part1{
    background-color: rgba(0, 0, 0, 0.24);
    width: 70vw;
    height: 300px;
    /*grid-area: part1;*/
    border-radius: 30px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    /*justify-content: space-between;*/
    padding: 20px;
}
.part1 h1{
    font-family:Arial;
    font-size:19px;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:2px;
}

.part1 h3{
    margin-top: 15px;
    font-size:13px;
    letter-spacing:2px;
    font-weight: lighter;
}
.stripe{
    width: 130px;
    height: 2px;
    background-color: white;
}
.tekst{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    gap: 5px;
}

.opdr{
    height: 220px;
    width: 270px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.35);
    margin-top: 10px;
    margin-left: 10px;
}












/* Project 2*/
.pro_Head{
    padding: 0 82px 0 42px;
    display: flex;
    align-items: center;
}
.pro_Head h1{
    font-size: 35px;
}
.pro_line{
    height: 2px;
    background-color: #70848E;
    margin: 42px;
}
.start{
    width: 118px;
}


/*Project*/
.Project{
    height: 90vh;
    display: flex;
    background-image:linear-gradient(-90deg, rgba(32, 37, 41, 0.11) 0%, rgba(32, 37, 41, 0.54) 67.96%, rgba(32, 37, 41, 0.84) 100%),
    url('../Img/Background_Dragongame.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.Project_Info{
    background-color: #83969F;
    height: 150px;
    width: 901px;
    left: 25px;
    top: 1150px;
    padding: 30px 70px;
    position: absolute;
}

.Game_date{
    display: flex;
    gap: 88px;
    line-height: 35px;
}

.Game_date h3{
    letter-spacing: 1.7px;
    max-width: 180px;
}
.thick{
    font-family: GT Walsheim,Arial,gadget,sans-serif;
    letter-spacing: 0.6px;
    line-height: 20px;
}





.headingCon{
    background-color: white;
    padding: 120px 75px 10px 55px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.headingLine{
    width: 90px;
    height: 2px;
    background-color: black;
}
.headingText{
    font-weight: normal;
    line-height: 30px;
}


/*goal*/
.Goal{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    padding: 90px;
    display: flex;
    gap: 167px;
}
.goal_assigment{
    overflow-y: scroll;
    overflow-x: hidden;
}
.Goal_text{
    font-family: "Sulphur Point", sans-serif;
    max-width: 677px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Goal_text h2{
    font-size: 35px;
    padding-bottom: 35px;;
    font-family: "Sulphur Point", sans-serif;

}
.Goal_text h3{
    line-height: 28px;
    max-width: 1090px;
    font-family: Sulphur Point;
    font-size: medium;
}



/*Player*/
.Player{
    background-color: #ffffff;
    padding-bottom: 35px;
}
.end{
    width: 714px;
}

.body_player{
    display: grid;
    grid-template-columns: 78px 913px 73px 385px;
    grid-template-rows: 132px 15px 53px 265px;
    grid-template-areas:". first first first " ". . . ." ". second . imgat" ". second imgwin .";
}
.first_textPlayer{
    line-height: 28px;
    max-width: 1090px;
    margin-top: 15px;
    font-family: Sulphur Point;
    font-size: medium;
    grid-area: first;
}
.second_textPlayer{
    max-width: 750px;
    line-height: 28px;
    font-family: Sulphur Point;
    font-size: medium;
    grid-area: second;
}

.img_attack{
    width: 271px;
    height: 252px;
    grid-area: imgat;
}

.img_attackWin{
    z-index: 1;
    transform: scaleX(-1);
    grid-area: imgwin;
}





/*enemy*/
.Enemy{
    background-color: #ffffff;
}
.end_enemy{
    width: 1030px;
}
.body_enemy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 100px;
}
.enemy_text h3{
    line-height: 28px;
    max-width: 800px;
    margin-top: 15px;
    font-family: Sulphur Point;
    font-size: medium;
}
.enemy_gif img{
    width: 539px;
    height: 307px;
    object-fit: cover;
}



/*Uniqe*/
.Unique{
    height: 90vh;
    width: 100vw;
    background-color: #ffffff;
    /*background-image: url("Img/PRO_DragonGame2D.gif");*/
    /*background-repeat: no-repeat;*/
}


.border .tooltiptext {
    visibility: hidden;
    width: 120px;
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0.49);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 43px;
    left: 127%;
}

.mech:hover .tooltiptext {
    visibility: visible;
}
.ani:hover .tooltiptext {
    visibility: visible;
}




/*achtergrond*/
.uniqe_background{
    height: 90vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

.bg_zwart_uniqe{
    height: 90vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    position: absolute;
}


/*inhoud*/
.uniqeCon{
    display: grid;
    grid-template-columns: 343px 102px 124px 260px 124px 118px 267px;
    grid-template-rows: 97px 80px 131px 108px 100px 78px;
    grid-template-areas: ". . . head head . ."
" . . . . . . ." "h3 . . . . . round" ". . . . dragon . round" " . . knight . . . round";
}

.uniqe_headText{
    color: white;
    z-index: 2;
    grid-area: head;
}
.uniqe_text{
    color: white;
    z-index: 2;
    grid-area: h3;
    padding-left: 57px;
    margin-top: 50px;
}
.uniqe_text h3{
    font-size: 35px;
    line-height: 35px;
    font-weight: lighter;
}
.uniqe_text h4{
    font-size: 18px;
    font-weight: lighter;
}


.knight_Img{
    z-index: 11;
    grid-area:knight ;
}

.dragon_Img{
    transform: scaleX(-1);
    z-index: 11;
    grid-area: dragon;
}


.unique_rounds{
    align-items: flex-end;
    display: flex;
    grid-area: round;
}
.border {
    display: flex;
    margin-bottom: -20px;
    height: 53vh;
    flex-direction: column;
    align-items: self-end;
    justify-content: flex-end;
}
.border img{
    width: 65px;
    height: 65px;
    border: #EEEEEE 3px solid;
    border-radius: 100px;
    padding: 10px;
    z-index: 15;
}
.mech {
    right: -38%;
    position: relative;
}
.ani{
    right: -38%;
    position: relative;
}




/*Feedback*/
.Feedback{
    padding-top: 60px;
    width: 100vw;
    background-color: #ffffff;
}
.end_feedback{
    width: 1030px;
}
.feedback_tekst{
    line-height: 28px;
    max-width: 1290px;
    margin: 15px 0 0 95px;
}
.feedback_tekst h3{
    font-size: medium;
}







/*tech solutions*/
.Teck_solutions{
    padding-top: 90px;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
.end_teck_solutions{
    width: 849px;
}






/*tech solutions*/
.Learned{
    padding-top: 90px;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
.end_learned{
    width: 849px;
}


