@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&family=Sulphur+Point:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;

}

body{
    background: rgba(35, 91, 88, 0.16);
    /*background-color: #ededed;*/
    color: black;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;        /*20px how big the nav balk is and 10% is how far is stands from the side*/
    background-color: rgba(237, 237, 237, 0.91);
    display: flex;          /*set the home projects skills about me under Yente.*/
    justify-content: space-between ;    /*zet yente en rest uitelkaar en zet het op even veel aftand van zijkant als yente dus 10%*/
    align-items: center;
    z-index: 9;
    padding-right: 3%;
}

.eng-but{
    margin-right: -155px;
}
.but{
    text-decoration: none;
    color: black;
}
.slesh{
    margin-right: -155px;
}
.logo{
    font-size: 35px;
    color: black;     /*makes it white*/
    text-decoration: none;   /* takes away the underscore that you have with a link _____ */
    font-weight: 700;
    z-index: 100;

}

.navbar a{
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;          /* zet home projects skills... uitelkaar*/
    transition: .3s;        /*als je erover heen bent gegaan blijft het nog drie seconden die kleur*/
    padding:0px 8%;

}
.navbar a:nth-child(1){
    border-bottom:2px solid rgba(35, 91, 88, 0.4);
    padding:9px 40px ;
}
.navbar a:nth-child(2){
    border-bottom:2px solid rgba(35, 91, 88, 0.3);
    padding:9px 32px ;
}
.navbar a:nth-child(3){
    border-bottom:2px solid rgba(35, 91, 88, 0.2);
    padding:9px 40px ;
}
.navbar a:nth-child(4){
    border-bottom:2px solid rgba(35, 91, 88, 0.8);
    padding:9px 32px ;
}

.navbar a:hover,      /* als je er met muis overheen gaat krijg je die kleur */
.navbar a.active{    /*geef class active en dan dezen blijft aan staan op die kleur */
    color: rgba(35, 91, 88, 0.56);
}

#round{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 7.5%;
    background-color: transparent;
    display: flex;
    z-index: 50;
    align-items: flex-end;
    justify-content: flex-end;
}
.dot{
    background-color: rgba(187, 175, 157, 0.46);
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    z-index: 50;
}











.aboutMe{
    display: grid;
    grid-template-columns: 10vh 40vw 50vw;
    grid-template-rows: 5vh 95vh ;
    grid-template-areas: ". . ."
    ". content pictures";
}
.info{
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 44px;


}
.info h3{
    max-width: 450px;
    text-align: justify;
}
.info h1{
    font-size: 40px;
}







#slider{
    grid-area: pictures;
    position: relative;
    width: 288px;
    height: 460px;
    margin: 20vh auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}



body {
    margin: 0;
    background: #EEE;
    user-select: none;
    font-family: sans-serif;
}




input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}


input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}

#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    object-fit: cover;
}
/*#slide{*/
/*    height: 200px;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    transition: all 0.3s ease-in-out;*/
/*    width: 330px;*/
/*    z-index: 0;*/
/*    border-radius: 15px;*/
/*    background-size: contain;*/
/*}*/

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);

    /*box-shadow: -2px 5px 33px 6px rgba(0, 0, 0,0.35);*/
    /*!*height: 300px;*!*/
    /*!*width: 430px;*!*/
    opacity: 1;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    z-index: 2;

}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);

    left: -25%;
    /*transform: translateX(-50%);*/
    height: 420px;
    width: 200px;
    transform: rotate(3deg);
    opacity: 0.5;
    z-index: 1;
    top: 25px;
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);

    /*left: 15%;*/
    opacity: .0;
    /*transform:translateX(-50%);*/
    /*!*height: 200px;*!*/
    /*!*width: 330px;*!*/
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);

    left: 50%;
    /*transform: translateX(-50%);*/
    /*!*height: 250px;*!*/
    /*!*width: 380px;*!*/
    opacity: 0.9;
    z-index: 1;
    height: 420px;
    width: 300px;
    transform: rotate(-4deg);
    opacity: 0.5;
    z-index: 1;
    top: -30px;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-40%, 0, -250px);

    /*left: 85%;*/
    opacity: 0;
    /*transform: translateX(-50%);*/
    /*!*height: 200px;*!*/
    /*!*width: 330px;*!*/
}







.kleurHoek{
    width: 100vw;
    height: 90vh;
    background-color: rgba(96, 118, 129, 0.82);
    clip-path: polygon(35% 0%, 35% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 15%);
    display: flex;
    justify-content: space-evenly;
}
.kleurHoek h1{
    margin-left: 34%;
    font-family:Arial;
    font-size:28px;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:2px;
    max-width: 500px;
}
.kleurHoek h3{
    margin-top: 15px;
    font-size:13px;
    letter-spacing:2px;
    font-weight: lighter;
    color:#fff;
    /*max-width: 25vw;*/
    text-align: center;
}

.schooll{
    margin-top: 100px;
    max-width: 28vw;

}
.dromen{
    margin-top: 100px;
    max-width: 28vw;
}